<%- include('../partials/header') -%>    
<%- include('../partials/navbar') -%> 
    <div class="container">
        <div class="row mt-3">
            <div class="events-header d-flex justify-content-between mb-2">
                <h3>List des evenements</h3>
                <a href='/events/create' class="btn btn-success">Add</a>
            </div>
            <hr/>

            <% events.forEach(function(event){ %>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h4><%= event.title %></h4>
                        </div>
                        <div class="card-body">
                            <p>
                                <%= event.description %>
                            </p>

                            <% if(event.date) { %>
                                <p class="badge bg-secondary d-block">
                                    <%= event.date.toLocaleDateString('en-CA') %>
                                </p>
                            <% } %>
                            <% if(!event.date) { %>
                                <p>
                                  /
                                </p>
                            <% } %>
                            <p class="badge bg-success">
                                <%= event.location %>
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <a href="/events/<%= event.id %>" class="btn btn-primary me-1">edit</a>                            
                            <form action="/events/remove/<%= event.id %>" method="post">
                                <button onclick="confirm('are you sure ?');" 
                                        type="submit" 
                                        class="btn btn-danger"
                                >
                                    &times;
                                </button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
<%- include('../partials/footer') -%>    
