<%- include('../partials/header') -%>    
<%- include('../partials/navbar') -%> 
    <div class="container">
        
       <%- include('./messages') -%> 

        <div class="row mt-3">
            <div class="events-header d-flex justify-content-between mb-2">
                <h3>List des evenements</h3>
                <a href='/events/create' class="btn btn-success">Add</a>
            </div>
            <hr/>

            <% events.forEach(function(event){ %>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h4><%= event.title %></h4>
                        </div>
                        <div class="card-body">
                            <p>
                                <%= event.description %>
                            </p>

                            <% if(event.date) { %>
                                <p class="badge bg-secondary d-block">
                                    <%= event.date.toLocaleDateString('en-CA') %>
                                </p>
                            <% } %>
                            <% if(!event.date) { %>
                                <p>
                                  /
                                </p>
                            <% } %>
                            <p class="badge bg-success">
                                <%= event.location %>
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <a href="/events/<%= event.id %>" class="btn btn-primary me-1">edit</a>                            
                            <% if(user && user.id===event.user_id){ %>
                                <form action="/events/remove/<%= event.id %>" method="post">
                                    <button onclick="confirm('are you sure ?');" 
                                            type="submit" 
                                            class="btn btn-danger"
                                    >
                                        &times;
                                    </button>
                                </form>
                            <% } %>
                            
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>

        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <% if(pageActual <= 1) { %>    
                            <li class="page-item disabled">                          
                        <% }else{ %>    
                            <li class="page-item">                                                      
                        <% } %>    
                        
                        <a class="page-link" href="/events/page/<%= pageActual-1%>" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      
                      <% if(pages){ %>
                      <% pages.forEach(page =>{ %>
                        <% if(pageActual){ %>
                            <% if((page+1)==pageActual){ %>
                                <li class="page-item active">
                            <%} else {%>
                                <li class="page-item">
                            <% } %>                                        
                        <% } %>   
                                <a class="page-link" href="/events/page/<%= page+1 %>">                                                                                       
                                    <%= page+1 %>                                
                            </a>
                        </li>
                      <% })%>
                      <% }%>
                      
                      <% if(pageActual==pages.length) { %>        
                        <li class="page-item disabled">
                      <% }else{ %>    
                        <li class="page-item">
                      <% } %>    
                        
                        <a class="page-link" href="/events/page/<%= Number(pageActual)+1 %>" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
<%- include('../partials/footer') -%>    
